<div id="<%= dom_id deal %>">
  <p>
    <strong>Deal date:</strong>
    <%= deal.deal_date %>
  </p>

  <p>
    <strong>Deal number:</strong>
    <%= deal.deal_number %>
  </p>

  <p>
    <strong>Stock number:</strong>
    <%= deal.stock_number %>
  </p>

  <p>
    <strong>Salesperson:</strong>
    <%= deal.salesperson %>
  </p>

  <p>
    <strong>Vehicle type:</strong>
    <%= deal.vehicle_type %>
  </p>

  <p>
    <strong>Customer name:</strong>
    <%= deal.customer_name %>
  </p>

  <p>
    <strong>Vehicle purchased:</strong>
    <%= deal.vehicle_purchased %>
  </p>

  <p>
    <strong>Has trade:</strong>
    <%= deal.has_trade %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= deal.contact_number %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= deal.status %>
  </p>

  <p>
    <strong>Estimated delivery date:</strong>
    <%= deal.estimated_delivery_date %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= deal.notes %>
  </p>

</div>
